.small{
    font-size: 14px;
}

.pluginCountButton {
    color: red;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    white-space: nowrap;
}

/**
 * Site header
 */
.site-header {
    border-top: 5px solid #000;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    text-align: center;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-family: 'Open Sans Bold';
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    color:#333 !important;

    &, &:visited {
        color: #333 !important;
        text-decoration: none !important;
    }
    &:hover {
        color: #000 !important;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        //position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        // .menu-icon {
        //     display: block;
        //     float: right;
        //     width: 36px;
        //     height: 26px;
        //     line-height: 0;
        //     padding-top: 10px;
        //     text-align: center;

        //     > svg {
        //         width: 18px;
        //         height: 15px;

        //         path {
        //             fill: $grey-color-dark;
        //         }
        //     }
        // }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

.yvideos{
    width:100%;
    height:600px;
}

@include media-query($on-laptop) {
    .width-50{
        width:100% !important;
        text-align: right;
        padding-right: 15px;
    }
    body{
        min-width: 320px;
    }
    .yvideos{
        height:300px;
    }
    .black-question{
        left:56px;
        border-left:1px solid rgba(255,255,255,0.2);
    }
}

@include media-query(340px) {
    .width-50{
        padding-right: 0px;
    }
}


/**
 * Site footer
 */

 .tag-list.blog, .read-block{
    display: inline-block;
    a{
        border-color:#ccc;
        color:#bbb;
        &:hover{
            border-color:#333;
            color: #333;
        }
    }
 }

 .read-block{
    margin-top: 8px;
 }

.tag-list{
    padding: 0px;
    list-style: none;
    margin-left: 0px;
    li{
        display: inline-block;
        margin:2px;
    }
    .tag{
        border: 1px solid #2E2E2E;
        border-radius: 1px;
        padding: 1px 3px;
        font-size:12px;
        &:hover{
            text-decoration: none;
            background-color: white;
            color:black;
        }
    }
}

.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    @include media-query($on-laptop) {
        padding: 10px 10px;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    li{ display:inline-block; padding: 0 5px;}
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-item{
    //max-width: 600px;
    margin: 6rem auto;
    .post-excerpt{
        font-family: 'Noto', serif;
        font-size: 1.2em;
    }
    h2{
        margin-top: 0px;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 4rem;
    color:rgba(0,0,0,0.8);
    padding: 2px 0px;
    font-family: 'Open Sans Bold', sans-serif;
    &:hover{
        color:rgba(0,0,0,0.8);
        text-decoration: none;
    }
}


/**
 * Posts
 */
.post {

    @include media-query($on-laptop) {
        width: auto;
        min-width: 350px;
    }

    width:700px;
    word-wrap:break-word;
    word-spacing: 3px;
    &, & * {
        color: rgba(0,0,0,0.8)
    }
    article{
        line-height: 1.5;
        letter-spacing: 0.01rem;
        font-family: 'freight';
        font-size: 20px;
        font-weight: 400;
        p{
            padding:0;
            padding: 10px 0px !important;
        }
    }

    code{
        padding: 0px;
        margin: 0px;
    }

    blockquote.phil{
        border-left: 2px solid rgba(0,0,0,0.8);
        padding-left:10px;
        margin-left:-12px;
        margin-bottom: 20px;
        letter-spacing: 0px;
        text-decoration: none;
        font-family: 'freight';
        font-style:normal;
        padding: 0px 0px 0px 12px;
        background-color: rgba(0,0,0,0.04);
    }

    .quote{
        color:rgba(0,0,0,0.7);
        background-color: transparent;
        border: none;
        border-radius: 0px;
        font-family: 'freight';
        font-size:20px;
        //font-style: italic;
    }
 }
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 60px;
    letter-spacing: -4px;
    line-height: 1;
    font-family: 'Open Sans Bold', sans-serif;
    color: rgba(0,0,0,0.8);

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
