body{

}

.width-50{
	width:50%;
	margin:0 auto;
}

.width-60{
	width:60%;
	margin:0 auto;
}

.width-40{
	width:40%;
	margin:0 auto;
}

.width-30{
	width:30%;
	margin:0 auto;
}

#background{
	height: 100%;
	width:100%;
	position: fixed;
	background: url(/images/zak2.jpg) no-repeat;	
	left:48%;
	top:14%;
	@include media-query($on-laptop) {
		left:20%;
		top:50%;
	}
}

.layout-about{
	&, & *{
		-webkit-transition: all .3s;
    	transition: all .3s;
	}
	position: fixed;
	width: 50%;
	height:50%;
	top:17%;
	left:28%;
	font-family: 'Noto';
	cursor:default;
	font-size: 1vw;
	.layout-about-inner{
		max-width:50%;
	}
	.name-container{
		#lastname, #firstname{
			line-height: 100%;
			font-size: 5vw;
			font-family: 'swiss-7';
			font-family: 'Open Sans Bold';
			font-family: 'Noto Bold';
			font-family: 'Noto';
		}
	}
	.about{
	}
	ul{
		list-style: none;
		margin: 0 0 0 0;
		li{
			display: inline-block;
			padding-right: 10px;
			a{
				color:#bbb;
				font-size: 1vw;
				&:hover{
					color:white;
					text-shadow: 0px 0px 0px white;
				}
			}
		}
	}


	@include media-query($on-laptop) {
		font-size: 15px;
		width: 100%;
		font-family: 'Noto';
		left:10%;
		.layout-about-inner{
			max-width:80%;
		}
		.name-container{
			#lastname, #firstname{
				line-height: 100%;
				font-size: 30px;
				font-family: 'swiss-7';
				font-family: 'Open Sans Bold';
				font-family: 'Noto';
				padding-right:4px;
			}
		}
		ul{
			list-style: none;
			margin: 0 0 0 0;
			li{
				display: inline-block;
				padding-right: 10px;
				a{
					color:#bbb;
					font-size: 12px;
					&:hover{
						color:white;
						text-shadow: 0px 0px 0px white;
					}
				}
			}
		}
	}
}

.splash{
	background-color: rgba(0,0,0,0.99);
	color: white;
	a{
		color:white;
	}
	&.wrapper{
	}
	&.splash-center{
		margin: 0 auto;
	}
}
